langchain
python-dotenv
ipykernel
langchain_community
pypdf
bs4
wikipedia
langchain_text_splitters
lxml
chromadb
sentence-transformers
langchain_huggingface
faiss-cpu
langchain_chroma
streamlit
langchain_groq
langchain_core
langserve
fastapi
sse_starlette
arxiv
duckduckgo-search
validators==0.28.1
youtube-transcript-api
pytube
unstructured
numexpr
huggingface_hub